<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>t60f users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>Three 60 Feedback Giver</h1>
            <div class="alert alert-primary mt-2" th:if="${message}" th:text="${message}"></div>
            <div>
                <a href="/admin">Admin</a>
            </div>
            <br/>
            <h2>Details</h2>
            <h3>Giver</h3>
            <p th:text="${giver.email}"></p>
            <h3>Positive Feedback</h3>
            <p th:text="${giver.positiveFeedback}"></p>
            <h3>Negative</h3>
            <p th:text="${giver.negativeFeedback}"></p>
            <h3>NotifiedAt</h3>
            <p th:text="${giver.notifiedAt}"></p>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
