<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('admin/index', 'Three 60 Feedback Admin')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="card shadow-sm p-4 border-0">
        <div class="card-body">
            <h1 class="mb-4">Admin Dashboard</h1>

            <div class="mb-4">
                <a th:href="@{/}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-arrow-left"></i>&nbsp; Back
                    to Home</a>
            </div>

            <div class="list-group">
                <a href="/admin/companies"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span><i class="bi bi-building"></i>&nbsp;Companies</span>
                    <i class="bi bi-chevron-right"></i>
                </a>
                <a href="/admin/rounds"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <span><i class="bi bi-easel2"></i>&nbsp;Rounds</span>
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>