<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>t60f users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>Three 60 Admin</h1>
            <ul>
                <li><a href="/admin/companies">Companies</a></li>
                <li><a href="/admin/rounds">Rounds</a></li>
            </ul>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
