<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Three 60 Feedback Response', css=null, js=null)}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="card shadow-sm p-4 mb-4 border-0">
        <div class="card-body">
            <h1 class="mb-4">Three 60 Feedback Details</h1>

            <div th:if="${message}" class="alert alert-primary" th:text="${message}"></div>

            <div class="mb-4">
                <a th:href="@{/admin/rounds}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-arrow-left"></i>&nbsp;
                    Back to Rounds</a>
            </div>

            <div class="mb-3">
                <h5 class="fw-semibold">Sender</h5>
                <p th:text="${response.email}" class="mb-3"></p>

                <h5 class="fw-semibold">Positive Feedback</h5>
                <p th:text="${response.positiveFeedback}" class="mb-3"></p>

                <h5 class="fw-semibold">Negative Feedback</h5>
                <p th:text="${response.negativeFeedback}" class="mb-3"></p>

                <h5 class="fw-semibold">Notified At</h5>
                <p th:text="${response.notifiedAt}"></p>
            </div>
        </div>
    </div>
    <div class="card shadow-sm p-4 border-0">
        <div class="card-body">
            <h2 class="mb-3">Messages</h2>

            <div id="messageList" class="message-list d-flex flex-column gap-2">
                <div th:each="message : ${response.messages}">
                    <div th:class="${message.senderMail == loggedInUserMail} ? 'bubble me' : 'bubble other'">
                        <div class="meta">
                            <span class="sender" th:text="${message.senderMail}"></span>
                            <span class="ts"
                                  th:text="${@dateUtils.formatUtc(message.createdAt)}"></span>
                        </div>
                        <div class="text" th:text="${message.message}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
