<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>t60f users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>Three 60 Feedback Giver</h1>
            <div class="alert alert-primary mt-2" th:if="${message}" th:text="${message}"></div>
            <div class="mb-3">
                <a th:href="@{/admin/rounds}">← Back to Rounds</a>
            </div>
            <br/>
            <h2>Details</h2>
            <h3>Giver</h3>
            <p th:text="${response.email}"></p>
            <h3>Positive Feedback</h3>
            <p th:text="${response.positiveFeedback}"></p>
            <h3>Negative</h3>
            <p th:text="${response.negativeFeedback}"></p>
            <h3>NotifiedAt</h3>
            <p th:text="${response.notifiedAt}"></p>
        </div>
    </div>
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h2>Messages</h2>

            <!-- Messages list -->
            <div id="messageList" class="message-list d-flex flex-column gap-2">
                <div th:each="message : ${response.messages}">
                    <div th:class="${message.senderMail == loggedInUserMail} ? 'bubble me' : 'bubble other'">
                        <div class="meta">
                            <span class="sender" th:text="${message.senderMail}"></span>
                            <span class="ts"
                                  th:text="${#dates.format(@dateUtils.toLocal(message.createdAt), 'dd.MM.yyyy HH:mm')}"></span>
                        </div>
                        <div class="text" th:text="${message.message}"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer(${commitVersion})}"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
