<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>t60f users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>Three 60 Users</h1>
            <div class="alert alert-primary mt-2" th:if="${message}" th:text="${message}"></div>
            <div>
                <a href="/admin/companies">← Back to Companies</a>
            </div>
            <div th:if="${users.size() &gt; 0}">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">E-Mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${users}">
                        <td><span th:remove="tag" th:text="${user.email}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${users.size() &lt; 1}">
                No user yet. Please sync to add feedbackers.
            </div>
            <form th:action="@{/admin/sync}" th:method="post">
                <input id="companyId" name="companyId" th:value="${companyId}" type="hidden"/>
                <button class="btn btn-danger rounded" onclick="return confirmSync()" type="submit"
                        aria-describedby="submitHelp">
                    Sync Users
                </button>
                <div class="form-text" id="submitHelp">
                    This will sync all users of the selected company and remove non existent users.
                </div>
            </form>
            <br/>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
    function confirmSync() {
        return confirm('Are you sure? This sends requests to external systems.');
    }
</script>
</body>
</html>
