<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('admin/sync', 'Three 60 Feedback Companies')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="card shadow-sm p-4 border-0">
        <div class="card-body">
            <h1 class="mb-4">Company Users</h1>

            <div class="alert alert-primary" th:if="${message}" th:text="${message}"></div>

            <div class="mb-4">
                <a th:href="@{/admin/companies}" class="btn btn-outline-secondary btn-sm"><i
                        class="bi bi-arrow-left"></i>&nbsp; Back to Companies</a>
            </div>

            <!-- Top Sync Button -->
            <form th:action="@{/admin/sync}" th:method="post" class="mb-4">
                <input id="companyId" name="companyId" th:value="${companyId}" type="hidden"/>
                <button type="submit" class="btn btn-primary rounded" onclick="return confirmSync()"
                        aria-describedby="submitHelp">
                    <i class="bi bi-arrow-repeat"></i>&nbsp;Sync&nbsp;Users
                </button>
                <div class="form-text mt-1" id="submitHelp">
                    This will fetch all users from the external system and remove any that no longer exist.
                </div>
            </form>

            <!-- Users Table -->
            <div th:if="${users.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped align-middle">
                        <thead class="table-light">
                        <tr>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td><span th:text="${user.email}" class="fw-semibold"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div th:if="${users.size() < 1}" class="text-muted">
                No users yet for this company.<br/>
                Click the sync button above to import users.
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/admin/sync.js(v=${commitVersion})}" defer></script>
</body>
</html>