<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>t60f users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>My Three 60 Round Overview</h1>
            <div class="alert alert-primary mt-2" th:if="${message}" th:text="${message}"></div>
            <div class="mb-3">
                <a th:href="@{/my/rounds}" th:if="${source == null or source == 'my'}">← Back to Rounds</a>
                <a th:href="@{/my/rounds/proxy}"  th:if="${source == 'proxy'}">← Back to Proxy Rounds</a>
            </div>
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Positive Feedback</th>
                    <th scope="col">Improvement Suggestion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="response:${responses}">
                    <td>
                        <a th:href="@{/my/response/{responseId}/questions(responseId=${response.id},source=${source})}"
                           th:text="${#dates.format(@dateUtils.toLocal(response.notifiedAt), 'dd.MM.yyyy HH:mm')}"></a>
                    </td>
                    <td th:text="${response.positiveFeedback}"></td>
                    <td th:text="${response.negativeFeedback}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${responses.size() &lt; 1}">
            No responses yet.
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer(${commitVersion})}"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
