<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, css, js)">
    <meta charset="utf-8"/>
    <title th:text="${title} ?: 'Three 60 Feedback'"></title>

    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico(v=${commitVersion})}">

    <!-- Preload core styles -->
    <link rel="preload" as="style" th:href="@{/css/bootstrap.min.css}"
          onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" th:href="@{/css/bootstrap-icons.min.css}"
          onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" th:href="@{/css/global.css}"
          onload="this.onload=null;this.rel='stylesheet'">
    <link th:if="${null != css}" rel="preload" as="style" th:href="@{/css/pages/{css}.css(css=${css})}"
          onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
        <link rel="stylesheet" th:href="@{/css/global.css}">
        <link th:if="${null != css}" rel="stylesheet" th:href="@{/css/pages/{css}.css(css=${css})}">
    </noscript>

    <script th:src="@{/js/bootstrap.bundle.min.js(v=${commitVersion})}" defer></script>
    <script th:src="@{/js/global.js(v=${commitVersion})}" defer></script>
    <script th:if="${null != js}" th:src="@{/js/{js}.js(js=${js},v=${commitVersion})}" type="module"></script>
</head>
</html>