<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page, title)">
    <meta charset="utf-8"/>
    <title th:text="${title} ?: 'Three 60 Feedback'"></title>

    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico(v=${commitVersion})}">

    <!-- Preload core styles -->
    <link rel="preload" as="style" th:href="@{/css/bootstrap.min.css}"
          onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" th:href="@{/css/bootstrap-icons.min.css}"
          onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" th:href="@{/css/global.css}"
          onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" th:href="@{/css/pages/{page}.css(page=${page})}"
          onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
        <link rel="stylesheet" th:href="@{/css/global.css}">
        <link rel="stylesheet" th:href="@{/css/pages/{page}.css(page=${page})}">
    </noscript>

    <script th:src="@{/js/bootstrap.bundle.min.js(v=${commitVersion})}" defer></script>
</head>
</html>