<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="toast(message)">
    <!-- Pass message invisibly -->
    <div th:if="${message}" th:attr="data-message=${message}" style="display: none;"></div>

    <!-- Toast UI -->
    <div class="toast-container position-fixed bottom-0 start-0 p-3" style="z-index: 1100;">
        <div id="messageToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="messageToastBody">
                    <!-- Message will be inserted here -->
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>