.response-list {
  .bi-check-square-fill {
    color: green;
  }

  .bi-x-square-fill {
    color: lightblue;
  }

  .unreport-form {
    collapse: red;
  }
}

#clearRoundSearch {
  font-size: 1.2rem;
  line-height: 1;
}