<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Three 60 Feedback Error', css='error', js=null)}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="text-center">
        <img src="/img/unicorn.png" alt="unicorn" style="width: 256px;"/>
        <h1 class="text-center">Ups...</h1>
        <button class="btn btn-primary" onclick="history.go(-1)">
            <span class="text">Back</span>
        </button>
        <a class="btn btn-outline-secondary" href="/">
            <span class="text">Home</span>
        </a>
    </div>

    <table>
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"></td>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"></td>
        </tr>
        <tr th:if="${message != null and #strings.length(message) > 0}">
            <td>Message</td>
            <td th:text="${message}"></td>
        </tr>
        <tr th:if="${exception != null and #strings.length(exception) > 0}">
            <td>Exception</td>
            <td th:text="${exception}"></td>
        </tr>
        <tr th:if="${trace != null and #strings.length(trace) > 0}">
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"></pre>
            </td>
        </tr>
    </table>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
