<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>t60f Feedback</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>Three 60 Feedback Request</h1>
            <div class="alert alert-primary mt-2" th:if="${message}" th:text="${message}"></div>
            <form th:action="@{/requests}" th:method="post">
                <div class="mb-3">
                    <label class="form-label" for="companyId">Company ID</label><br/>
                    <input class="form-control" id="companyId" name="companyId" required="" th:value="${companyId}"
                           type="text" aria-describedby="companyIdHelp"/>
                    <div class="form-text" id="companyIdHelp">
                        Id of the company you're in. Get this by your supervisor.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Your E-Mail</label><br/>
                    <input class="form-control" id="email" name="email" required="" type="email"
                           aria-describedby="emailHelp"/>
                    <div class="form-text" id="emailHelp">
                        You will receive a link to start your feedback round to this mail.
                    </div>
                </div>
                <button class="btn btn-info rounded" type="submit">Let's Go</button>
            </form>
            <br/>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer(${commitVersion})}"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
