<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>t60f Feedback</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>Three 60 Feedback Submission</h1>
            <div>
                <a th:href="@{/?companyId={companyId}(companyId=${companyId})}">Home</a>
            </div>
            <div class="alert alert-primary mt-2" th:if="${message}" th:text="${message}"></div>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
