<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>t60f users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h1>Three 60 Feedback Round</h1>
            <div class="alert alert-primary mt-2" th:if="${message}" th:text="${message}"></div>
            <div th:if="${users.size() &gt; 0}">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Request from</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${users}">
                        <td><span th:remove="tag" th:text="${user.email}"></span></td>
                        <td>
                            <a class="btn btn-info rounded"
                               th:href="@{/users/{userId}/feedback_round(userId=${user.id},requestId=${requestId})}">Start
                                Feedback Round</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${users.size() &lt; 1}">
                No user yet.
            </div>
            <br/>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
